<footer id="info" class="info">
  <include(input.renderBody)/>
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <p>Created by <a href="http://todomvc.com">Dylan Piercey</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
